<div class="row icons-demo">
    <div class="col-sm-4">
        <div class="icons-demo__item">
            <i class="zwicon-cell-border-bottom"></i>
            <span>cell-border-bottom</span>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="icons-demo__item">
            <i class="zwicon-cell-border-full"></i>
            <span>cell-border-full</span>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="icons-demo__item">
            <i class="zwicon-cell-border-left"></i>
            <span>cell-border-left</span>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="icons-demo__item">
            <i class="zwicon-cell-border-right"></i>
            <span>cell-border-right</span>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="icons-demo__item">
            <i class="zwicon-cell-border-top"></i>
            <span>cell-border-top</span>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="icons-demo__item">
            <i class="zwicon-cell-empty"></i>
            <span>cell-empty</span>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="icons-demo__item">
            <i class="zwicon-cell-full"></i>
            <span>cell-full</span>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="icons-demo__item">
            <i class="zwicon-cell-split-h"></i>
            <span>cell-split-h</span>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="icons-demo__item">
            <i class="zwicon-cell-split-v"></i>
            <span>cell-split-v</span>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="icons-demo__item">
            <i class="zwicon-cell-split"></i>
            <span>cell-split</span>
        </div>
    </div>
</div>