<div class="row icons-demo">
    <div class="col-sm-4">
        <div class="icons-demo__item">
            <i class="zwicon-airpods-alt"></i>
            <span>airpods-alt</span>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="icons-demo__item">
            <i class="zwicon-airpods"></i>
            <span>airpods</span>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="icons-demo__item">
            <i class="zwicon-apple-watch-smile"></i>
            <span>apple-watch-smile</span>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="icons-demo__item">
            <i class="zwicon-apple-watch-time"></i>
            <span>apple-watch-time</span>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="icons-demo__item">
            <i class="zwicon-apple-watch"></i>
            <span>apple-watch</span>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="icons-demo__item">
            <i class="zwicon-cable-hdmi"></i>
            <span>cable-hdmi</span>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="icons-demo__item">
            <i class="zwicon-cable-jack"></i>
            <span>cable-jack</span>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="icons-demo__item">
            <i class="zwicon-cable-lan"></i>
            <span>cable-lan</span>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="icons-demo__item">
            <i class="zwicon-cable-lightning"></i>
            <span>cable-lightning</span>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="icons-demo__item">
            <i class="zwicon-cable-magsafe"></i>
            <span>cable-magsafe</span>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="icons-demo__item">
            <i class="zwicon-cable-usb"></i>
            <span>cable-usb</span>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="icons-demo__item">
            <i class="zwicon-cardboard-vr"></i>
            <span>cardboard-vr</span>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="icons-demo__item">
            <i class="zwicon-controller-alt"></i>
            <span>controller-alt</span>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="icons-demo__item">
            <i class="zwicon-controller"></i>
            <span>controller</span>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="icons-demo__item">
            <i class="zwicon-desktop"></i>
            <span>desktop</span>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="icons-demo__item">
            <i class="zwicon-devices"></i>
            <span>devices</span>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="icons-demo__item">
            <i class="zwicon-floppy"></i>
            <span>floppy</span>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="icons-demo__item">
            <i class="zwicon-gameboy"></i>
            <span>gameboy</span>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="icons-demo__item">
            <i class="zwicon-hard-drive"></i>
            <span>hard-drive</span>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="icons-demo__item">
            <i class="zwicon-headphone"></i>
            <span>headphone</span>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="icons-demo__item">
            <i class="zwicon-imac"></i>
            <span>imac</span>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="icons-demo__item">
            <i class="zwicon-ipad-h"></i>
            <span>ipad-h</span>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="icons-demo__item">
            <i class="zwicon-ipad"></i>
            <span>ipad</span>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="icons-demo__item">
            <i class="zwicon-iphone-h"></i>
            <span>iphone-h</span>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="icons-demo__item">
            <i class="zwicon-iphone-x-h"></i>
            <span>iphone-x-h</span>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="icons-demo__item">
            <i class="zwicon-iphone-x"></i>
            <span>iphone-x</span>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="icons-demo__item">
            <i class="zwicon-iphone"></i>
            <span>iphone</span>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="icons-demo__item">
            <i class="zwicon-keyboard"></i>
            <span>keyboard</span>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="icons-demo__item">
            <i class="zwicon-laptop"></i>
            <span>laptop</span>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="icons-demo__item">
            <i class="zwicon-mac-pro"></i>
            <span>mac-pro</span>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="icons-demo__item">
            <i class="zwicon-macbook-pro"></i>
            <span>macbook-pro</span>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="icons-demo__item">
            <i class="zwicon-memory-card"></i>
            <span>memory-card</span>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="icons-demo__item">
            <i class="zwicon-mouse"></i>
            <span>mouse</span>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="icons-demo__item">
            <i class="zwicon-phone-andorid-h"></i>
            <span>phone-andorid-h</span>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="icons-demo__item">
            <i class="zwicon-phone-andorid"></i>
            <span>phone-andorid</span>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="icons-demo__item">
            <i class="zwicon-phone-holding-double"></i>
            <span>phone-holding-double</span>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="icons-demo__item">
            <i class="zwicon-phone-holding"></i>
            <span>phone-holding</span>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="icons-demo__item">
            <i class="zwicon-plug"></i>
            <span>plug</span>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="icons-demo__item">
            <i class="zwicon-printer"></i>
            <span>printer</span>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="icons-demo__item">
            <i class="zwicon-server-stack"></i>
            <span>server-stack</span>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="icons-demo__item">
            <i class="zwicon-smart-glasses"></i>
            <span>smart-glasses</span>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="icons-demo__item">
            <i class="zwicon-smart-tv"></i>
            <span>smart-tv</span>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="icons-demo__item">
            <i class="zwicon-smart-watch-time"></i>
            <span>smart-watch-time</span>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="icons-demo__item">
            <i class="zwicon-smart-watch"></i>
            <span>smart-watch</span>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="icons-demo__item">
            <i class="zwicon-tablet-h"></i>
            <span>tablet-h</span>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="icons-demo__item">
            <i class="zwicon-tablet"></i>
            <span>tablet</span>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="icons-demo__item">
            <i class="zwicon-terminal"></i>
            <span>terminal</span>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="icons-demo__item">
            <i class="zwicon-voice-assistant"></i>
            <span>voice-assistant</span>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="icons-demo__item">
            <i class="zwicon-virtual-reality"></i>
            <span>virtual-reality</span>
        </div>
    </div>
</div>