<div class="row icons-demo">
    <div class="col-sm-4">
        <div class="icons-demo__item">
            <i class="zwicon-edit-circle"></i>
            <span>edit-circle</span>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="icons-demo__item">
            <i class="zwicon-edit-pencil"></i>
            <span>edit-pencil</span>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="icons-demo__item">
            <i class="zwicon-edit-square-feather"></i>
            <span>edit-square-feather</span>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="icons-demo__item">
            <i class="zwicon-edit-square"></i>
            <span>edit-square</span>
        </div>
    </div>
</div>