<div class="row icons-demo">
    <div class="col-sm-4">
        <div class="icons-demo__item">
            <i class="zwicon-filter-alt"></i>
            <span>filter-alt</span>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="icons-demo__item">
            <i class="zwicon-filter"></i>
            <span>filter</span>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="icons-demo__item">
            <i class="zwicon-slider-circle-h"></i>
            <span>slider-circle-h</span>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="icons-demo__item">
            <i class="zwicon-slider-circle-v"></i>
            <span>slider-circle-v</span>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="icons-demo__item">
            <i class="zwicon-slider-rectangle-h"></i>
            <span>slider-rectangle-h</span>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="icons-demo__item">
            <i class="zwicon-slider-rectangle-v"></i>
            <span>slider-rectangle-v</span>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="icons-demo__item">
            <i class="zwicon-sort-alphabetic-down"></i>
            <span>sort-alphabetic-down</span>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="icons-demo__item">
            <i class="zwicon-sort-alphabetic-up"></i>
            <span>sort-alphabetic-up</span>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="icons-demo__item">
            <i class="zwicon-sort-amount-down"></i>
            <span>sort-amount-down</span>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="icons-demo__item">
            <i class="zwicon-sort-amount-up"></i>
            <span>sort-amount-up</span>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="icons-demo__item">
            <i class="zwicon-sort-numeric-down"></i>
            <span>sort-numeric-down</span>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="icons-demo__item">
            <i class="zwicon-sort-numeric-up"></i>
            <span>sort-numeric-up</span>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="icons-demo__item">
            <i class="zwicon-toggle-switch"></i>
            <span>toggle-switch</span>
        </div>
    </div>
</div>