<div class="row icons-demo">
    <div class="col-sm-4">
        <div class="icons-demo__item">
            <i class="zwicon-flip-left-alt"></i>
            <span>flip-left-alt</span>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="icons-demo__item">
            <i class="zwicon-flip-left"></i>
            <span>flip-left</span>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="icons-demo__item">
            <i class="zwicon-flip-right-alt"></i>
            <span>flip-right-alt</span>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="icons-demo__item">
            <i class="zwicon-flip-right"></i>
            <span>flip-right</span>
        </div>
    </div>
</div>