<div class="row icons-demo">
    <div class="col-sm-4">
        <div class="icons-demo__item">
            <i class="zwicon-double-tap-two"></i>
            <span>double-tap-two</span>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="icons-demo__item">
            <i class="zwicon-double-tap"></i>
            <span>double-tap</span>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="icons-demo__item">
            <i class="zwicon-drag"></i>
            <span>drag</span>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="icons-demo__item">
            <i class="zwicon-flick-left-two"></i>
            <span>flick-left-two</span>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="icons-demo__item">
            <i class="zwicon-flick-left"></i>
            <span>flick-left</span>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="icons-demo__item">
            <i class="zwicon-flick-right-two"></i>
            <span>flick-right-two</span>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="icons-demo__item">
            <i class="zwicon-flick-right"></i>
            <span>flick-right</span>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="icons-demo__item">
            <i class="zwicon-horns"></i>
            <span>horns</span>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="icons-demo__item">
            <i class="zwicon-pinch"></i>
            <span>pinch</span>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="icons-demo__item">
            <i class="zwicon-point"></i>
            <span>point</span>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="icons-demo__item">
            <i class="zwicon-press"></i>
            <span>press</span>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="icons-demo__item">
            <i class="zwicon-scroll-down-two"></i>
            <span>scroll-down-two</span>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="icons-demo__item">
            <i class="zwicon-scroll-down"></i>
            <span>scroll-down</span>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="icons-demo__item">
            <i class="zwicon-scroll-h-two"></i>
            <span>scroll-h-two</span>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="icons-demo__item">
            <i class="zwicon-scroll-h"></i>
            <span>scroll-h</span>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="icons-demo__item">
            <i class="zwicon-scroll-up-two"></i>
            <span>scroll-up-two</span>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="icons-demo__item">
            <i class="zwicon-scroll-up"></i>
            <span>scroll-up</span>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="icons-demo__item">
            <i class="zwicon-scroll-v-two"></i>
            <span>scroll-v-two</span>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="icons-demo__item">
            <i class="zwicon-scroll-v"></i>
            <span>scroll-v</span>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="icons-demo__item">
            <i class="zwicon-shaka"></i>
            <span>shaka</span>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="icons-demo__item">
            <i class="zwicon-spread"></i>
            <span>spread</span>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="icons-demo__item">
            <i class="zwicon-tap-two"></i>
            <span>tap-two</span>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="icons-demo__item">
            <i class="zwicon-tap"></i>
            <span>tap</span>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="icons-demo__item">
            <i class="zwicon-two-drag"></i>
            <span>two-drag</span>
        </div>
    </div>
</div>