<div class="row icons-demo">
    <div class="col-sm-4">
        <div class="icons-demo__item">
            <i class="zwicon-exclude"></i>
            <span>exclude</span>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="icons-demo__item">
            <i class="zwicon-flatten"></i>
            <span>flatten</span>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="icons-demo__item">
            <i class="zwicon-intersect"></i>
            <span>intersect</span>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="icons-demo__item">
            <i class="zwicon-substract-back"></i>
            <span>substract-back</span>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="icons-demo__item">
            <i class="zwicon-substract-front"></i>
            <span>substract-front</span>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="icons-demo__item">
            <i class="zwicon-unite"></i>
            <span>unite</span>
        </div>
    </div>
</div>