<div class="row icons-demo">
    <div class="col-sm-4">
        <div class="icons-demo__item">
            <i class="zwicon-height"></i>
            <span>height</span>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="icons-demo__item">
            <i class="zwicon-resize-alt"></i>
            <span>resize-alt</span>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="icons-demo__item">
            <i class="zwicon-resize"></i>
            <span>resize</span>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="icons-demo__item">
            <i class="zwicon-scale-down"></i>
            <span>scale-down</span>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="icons-demo__item">
            <i class="zwicon-scale-up"></i>
            <span>scale-up</span>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="icons-demo__item">
            <i class="zwicon-scale"></i>
            <span>scale</span>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="icons-demo__item">
            <i class="zwicon-width"></i>
            <span>width</span>
        </div>
    </div>
</div>