<div class="row icons-demo">
    <div class="col-sm-4">
        <div class="icons-demo__item">
            <i class="zwicon-rotate-axis-x"></i>
            <span>rotate-axis-x</span>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="icons-demo__item">
            <i class="zwicon-rotate-axis-xy"></i>
            <span>rotate-axis-xy</span>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="icons-demo__item">
            <i class="zwicon-rotate-axis-y"></i>
            <span>rotate-axis-y</span>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="icons-demo__item">
            <i class="zwicon-rotate-left"></i>
            <span>rotate-left</span>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="icons-demo__item">
            <i class="zwicon-rotate-right"></i>
            <span>rotate-right</span>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="icons-demo__item">
            <i class="zwicon-rotate-shape"></i>
            <span>rotate-shape</span>
        </div>
    </div>
</div>