<div class="row icons-demo">
    <div class="col-sm-4">
        <div class="icons-demo__item">
            <i class="zwicon-shape-circle"></i>
            <span>shape-circle</span>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="icons-demo__item">
            <i class="zwicon-shape-cone"></i>
            <span>shape-cone</span>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="icons-demo__item">
            <i class="zwicon-shape-cube"></i>
            <span>shape-cube</span>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="icons-demo__item">
            <i class="zwicon-shape-cylinder"></i>
            <span>shape-cylinder</span>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="icons-demo__item">
            <i class="zwicon-shape-octagonal"></i>
            <span>shape-octagonal</span>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="icons-demo__item">
            <i class="zwicon-shape-polygon"></i>
            <span>shape-polygon</span>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="icons-demo__item">
            <i class="zwicon-shape-sphere"></i>
            <span>shape-sphere</span>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="icons-demo__item">
            <i class="zwicon-shape-square"></i>
            <span>shape-square</span>
        </div>
    </div>
</div>