<div class="card widget-contacts">
    <div class="card-body">
        <h4 class="card-title">Contact Information</h4>
        <h6 class="card-subtitle">Fusce eget dolor id justo luctus commodo vel pharetra nisi</h6>

        <ul class="icon-list">
            <li><i class="zwicon-phone"></i> 00971123456789</li>
            <li><i class="zwicon-mail"></i> malinda.h@gmail.com</li>
            <li><i>f</i> malinda.hollaway</li>
            <li><i>t</i> @malinda (twitter.com/malinda)</li>
            <li><i class="zwicon-pin"></i>
                <address>
                    44-46 Morningside Road,
                    Edinburgh,
                    Scotland
                </address>
            </li>
        </ul>
    </div>

    <a class="widget-contacts__map" href="">
        <img src="demo/img/widgets/map.png" alt="">
    </a>
</div>