<div class="card widget-pie">
    <div class="widget-pie__inner">
        <div class="col-6 col-sm-4 col-md-6 col-lg-4 widget-pie__item">
            <div class="easy-pie-chart" data-percent="50" data-size="80" data-track-color="rgba(0,0,0,0.25)" data-bar-color="#fff">
                <span class="easy-pie-chart__value">92</span>
            </div>
            <div class="widget-pie__title">Email<br> Scheduled</div>
        </div>

        <div class="col-6 col-sm-4 col-md-6 col-lg-4 widget-pie__item">
            <div class="easy-pie-chart" data-percent="11" data-size="80" data-track-color="rgba(0,0,0,0.25)" data-bar-color="#fff">
                <span class="easy-pie-chart__value">11</span>
            </div>
            <div class="widget-pie__title">Email<br> Bounced</div>
        </div>

        <div class="col-6 col-sm-4 col-md-6 col-lg-4 widget-pie__item">
            <div class="easy-pie-chart" data-percent="52" data-size="80" data-track-color="rgba(0,0,0,0.25)" data-bar-color="#fff">
                <span class="easy-pie-chart__value">52</span>
            </div>
            <div class="widget-pie__title">Email<br> Opened</div>
        </div>

        <div class="col-6 col-sm-4 col-md-6 col-lg-4 widget-pie__item">
            <div class="easy-pie-chart" data-percent="44" data-size="80" data-track-color="rgba(0,0,0,0.25)" data-bar-color="#fff">
                <span class="easy-pie-chart__value">44</span>
            </div>
            <div class="widget-pie__title">Storage<br>Remaining</div>
        </div>

        <div class="col-6 col-sm-4 col-md-6 col-lg-4 widget-pie__item">
            <div class="easy-pie-chart" data-percent="78" data-size="80" data-track-color="rgba(0,0,0,0.25)" data-bar-color="#fff">
                <span class="easy-pie-chart__value">78</span>
            </div>
            <div class="widget-pie__title">Web Page<br> Views</div>
        </div>

        <div class="col-6 col-sm-4 col-md-6 col-lg-4 widget-pie__item">
            <div class="easy-pie-chart" data-percent="32" data-size="80" data-track-color="rgba(0,0,0,0.25)" data-bar-color="#fff">
                <span class="easy-pie-chart__value">32</span>
            </div>
            <div class="widget-pie__title">Server<br> Processing</div>
        </div>
    </div>
</div>