<div class="card widget-profile">
    <div class="card-body">
        <div class="text-center">
            <img src="demo/img/profile-pics/profile-pic.jpg" class="widget-profile__img" alt="">
            <h2 class="card-title">Malinda Hollway</h2>
        </div>

        <div class="actions actions--inverse">
            <div class="actions__item">
                <i data-toggle="dropdown" class="zwicon-more-h"></i>
                <div class="dropdown-menu dropdown-menu-right">
                    <a href="" class="dropdown-item">Refresh</a>
                    <a href="" class="dropdown-item">Manage Widgets</a>
                    <a href="" class="dropdown-item">Settings</a>
                </div>
            </div>
        </div>
    </div>

    <div class="widget-profile__list">
        <div class="media">
            <div class="avatar-char"><i class="zwicon-phone"></i></div>
            <div class="media-body">
                <strong>011 55694785</strong>
                <small>Home</small>
            </div>
        </div>
        <div class="media">
            <div class="avatar-char"><i class="zwicon-mail"></i></div>
            <div class="media-body">
                <strong>m-hollaway@gmail.com</strong>
                <small>Email</small>
            </div>
        </div>
        <div class="media">
            <div class="avatar-char">t</div>
            <div class="media-body">
                <strong>@m-hollaway</strong>
                <small>Twitter</small>
            </div>
        </div>
        <div class="media">
            <div class="avatar-char">f</div>
            <div class="media-body">
                <strong>facebook/hollaway</strong>
                <small>Facebook</small>
            </div>
        </div>
        <div class="media">
            <div class="avatar-char">g</div>
            <div class="media-body">
                <strong>github.com/hollaway</strong>
                <small>Github</small>
            </div>
        </div>

        <div class="p-3"></div>
    </div>
</div>