<div class="row quick-stats">
    <div class="col-sm-6 col-md-3">
        <div class="quick-stats__item">
            <div class="quick-stats__info">
                <h2>987,459</h2>
                <small>Total Leads Recieved</small>
            </div>

            <div class="quick-stats__chart peity-bar">6,4,8,6,5,6,7,8,3,5,9</div>
        </div>
    </div>

    <div class="col-sm-6 col-md-3">
        <div class="quick-stats__item">
            <div class="quick-stats__info">
                <h2>356,785K</h2>
                <small>Total Website Clicks</small>
            </div>

            <div class="quick-stats__chart peity-bar">4,7,6,2,5,3,8,6,6,4,8</div>
        </div>
    </div>

    <div class="col-sm-6 col-md-3">
        <div class="quick-stats__item">
            <div class="quick-stats__info">
                <h2>$58,778</h2>
                <small>Total Sales Orders</small>
            </div>

            <div class="quick-stats__chart peity-bar">9,4,6,5,6,4,5,7,9,3,6</div>
        </div>
    </div>

    <div class="col-sm-6 col-md-3">
        <div class="quick-stats__item">
            <div class="quick-stats__info">
                <h2>214</h2>
                <small>Total Support Tickets</small>
            </div>

            <div class="quick-stats__chart peity-bar">5,6,3,9,7,5,4,6,5,6,4</div>
        </div>
    </div>
</div>