<div class="card">
    <div class="card-body">
        <h4 class="card-title">Recent Posts</h4>
        <h6 class="card-subtitle">Venenatis portauam Inceptos ameteiam</h6>
    </div>

    <div class="listview listview--hover">
        <a class="listview__item">
            <img src="demo/img/profile-pics/1.jpg" class="avatar-img" alt="">

            <div class="listview__content">
                <div class="listview__heading">Jeannette Lawson</div>
                <p>Donec congue tempus ligula, varius hendrerit mi hendrerit sit amet. Duis ac quam sit amet leo feugiat iaculis</p>
            </div>
        </a>

        <a class="listview__item">
            <img src="demo/img/profile-pics/2.jpg" class="avatar-img" alt="">

            <div class="listview__content">
                <div class="listview__heading">David Villa Jacobs</div>
                <p>Sorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam mattis lobortis sapien non posuere</p>
            </div>
        </a>

        <a class="listview__item">
            <img src="demo/img/profile-pics/3.jpg" class="avatar-img" alt="">

            <div class="listview__content">
                <div class="listview__heading">Candice Barnes</div>
                <p>Quisque non tortor ultricies, posuere elit id, lacinia purus curabitur</p>
            </div>
        </a>

        <a class="listview__item">
            <img src="demo/img/profile-pics/4.jpg" class="avatar-img" alt="">

            <div class="listview__content">
                <div class="listview__heading">Darla Mckinney</div>
                <p>Duis tincidunt augue nec sem dignissim scelerisque. Vestibulum rhoncus sapien sed nulla aliquam lacinia</p>
            </div>
        </a>

        <a class="listview__item">
            <img src="demo/img/profile-pics/5.jpg" class="avatar-img" alt="">

            <div class="listview__content">
                <div class="listview__heading">Rudolph Perez</div>
                <p>Phasellus a ullamcorper lectus, sit amet viverra quam. In luctus tortor vel nulla pharetra bibendum</p>
            </div>
        </a>

        <a href="" class="view-more">View All Posts</a>
    </div>
</div>