<div class="row stats">
    <div class="col-sm-6 col-md-3">
        <div class="stats__item">
            <div class="stats__chart">
                <div class="flot-chart flot-chart--sm stats-chart-1"></div>
            </div>

            <div class="stats__info">
                <div>
                    <h2>987,459</h2>
                    <small>Website Traffics</small>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-md-3">
        <div class="stats__item">
            <div class="stats__chart">
                <div class="flot-chart flot-chart--sm stats-chart-2"></div>
            </div>

            <div class="stats__info">
                <div>
                    <h2>356,785K</h2>
                    <small>Website Impressions</small>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-md-3">
        <div class="stats__item">
            <div class="stats__chart">
                <div class="flot-chart flot-chart--sm stats-chart-3"></div>
            </div>

            <div class="stats__info">
                <div>
                    <h2>$8,778</h2>
                    <small>Total Online Sales</small>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-md-3">
        <div class="stats__item">
            <div class="stats__chart">
                <div class="flot-chart flot-chart--sm stats-chart-4"></div>
            </div>

            <div class="stats__info">
                <div>
                    <h2>213</h2>
                    <small>Support Tickets</small>
                </div>
            </div>
        </div>
    </div>
</div>