<div class="card todo">
    <div class="card-body">
        <h4 class="card-title">Todo lists</h4>
        <h6 class="card-subtitle">Venenatis portauam Inceptos ameteiam</h6>
    </div>

    <div class="listview">
        <div class="listview__item">
            <div class="checkbox-char todo__item">
                <input type="checkbox" id="char-1">
                <label for="char-1">F</label>

                <div class="listview__content">
                    <div class="listview__heading">Fivamus sagittis lacus vel augue laoreet rutrum faucibus dolor</div>
                    <p>Today at 8.30 AM</p>

                    <div class="listview__attrs">
                        <span>#Messages</span>
                        <span>!!!</span>
                    </div>
                </div>
            </div>

            <div class="actions listview__actions">
                <div class="dropdown actions__item">
                    <i class="zwicon-more-h" data-toggle="dropdown"></i>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" href="">Mark as completed</a>
                        <a class="dropdown-item" href="">Delete</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="listview__item">
            <div class="checkbox-char todo__item">
                <input type="checkbox" id="char-2">
                <label for="char-2">N</label>

                <div class="listview__content">
                    <div class="listview__heading">Nullam id dolor id nibh ultricies vehicula ut id elit</div>
                    <p>Today at 12.30 PM</small>

                    <div class="listview__attrs">
                        <span>#Clients</span>
                        <span>!!</span>
                    </div>
                </div>
            </div>

            <div class="actions listview__actions">
                <div class="dropdown actions__item">
                    <i class="zwicon-more-h" data-toggle="dropdown"></i>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" href="">Mark as completed</a>
                        <a class="dropdown-item" href="">Delete</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="listview__item">
            <div class="checkbox-char todo__item">
                <input type="checkbox" id="char-3">
                <label for="char-3">C</label>

                <div class="listview__content">
                    <div class="listview__heading">Cras mattis consectetur purus sit amet fermentum</div>
                    <p>Tomorrow at 10.30 AM</small>

                    <div class="listview__attrs">
                        <span>#Clients</span>
                        <span>!!</span>
                    </div>
                </div>
            </div>

            <div class="actions listview__actions">
                <div class="dropdown actions__item">
                    <i class="zwicon-more-h" data-toggle="dropdown"></i>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" href="">Mark as completed</a>
                        <a class="dropdown-item" href="">Delete</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="listview__item">
            <div class="checkbox-char todo__item">
                <input type="checkbox" id="char-4">
                <label for="char-4">I</label>

                <div class="listview__content">
                    <div class="listview__heading">Integer posuere erat a ante venenatis dapibus posuere velit aliquet</div>
                    <p>05/08/2017 at 08.00 AM</small>
                    
                    <div class="listview__attrs">
                        <span>#Server</span>
                        <span>!</span>
                    </div>
                </div>
            </div>

            <div class="actions listview__actions">
                <div class="dropdown actions__item">
                    <i class="zwicon-more-h" data-toggle="dropdown"></i>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" href="">Mark as completed</a>
                        <a class="dropdown-item" href="">Delete</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="listview__item">
            <div class="checkbox-char todo__item">
                <input type="checkbox" id="char-5">
                <label for="char-5">P</label>

                <div class="listview__content">
                    <div class="listview__heading">Praesent commodo cursus magnavel scelerisque nisl consectetur</div>
                    <p>10/08/2016 at 04.00 AM</small>
                    
                    <div class="listview__attrs">
                        <span>#Server</span>
                        <span>!!!</span>
                    </div>
                </div>
            </div>

            <div class="actions listview__actions">
                <div class="dropdown actions__item">
                    <i class="zwicon-more-h" data-toggle="dropdown"></i>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" href="">Mark as completed</a>
                        <a class="dropdown-item" href="">Delete</a>
                    </div>
                </div>
            </div>
        </div>

        <a href="todos.html" class="view-more">View More</a>
    </div>
</div>