<div class="card widget-visitors">
    <div class="card-body">
        <h4 class="card-title">Realtime Visitors</h4>
        <h6 class="card-subtitle">Nullam dolor isnibh ultricies vehicula adipiscing</h6>

        <div class="widget-visitors__stats">
            <div>
                <strong>23528</strong>
                <small>Visitor for last 24 hours</small>
            </div>
            <div>
                <strong>746</strong>
                <small>Visitors last 30 minutes</small>
            </div>
        </div>

        <div class="widget-visitors__map map-visitors"></div>
    </div>

    <div class="listview listview--bordered">
        <div class="listview__item">
            <div class="listview__content">
                <div class="listview__heading">Sunday, September 4, 21:44:02 (2 Mins 56 Seconds)</div>

                <div class="listview__attrs">
                    <span><img class="widget-visitors__country" src="demo/img/flags/United_States_of_America.png" alt=""> United States</span>
                    <span>Firefox</span>
                    <span>Mac OSX</span>
                </div>
            </div>
        </div>

        <div class="listview__item">
            <div class="listview__content">
                <div class="listview__heading">Sunday, September 4, 20:21:01 (5 Mins 12 Seconds)</div>

                <div class="listview__attrs">
                    <span><img class="widget-visitors__country" src="demo/img/flags/Australia.png" alt=""> Australia</span>
                    <span>Chrome</span>
                    <span>Android</span>
                </div>
            </div>
        </div>

        <div class="listview__item">
            <div class="listview__content">
                <div class="listview__heading">Sunday, September 4, 20:21:10 (10 Mins 43 Seconds)</div>

                <div class="listview__attrs">
                    <span><img class="widget-visitors__country" src="demo/img/flags/Brazil.png" alt=""> Brazil</span>
                    <span>Edge</span>
                    <span>Windows</span>
                </div>
            </div>
        </div>

        <div class="listview__item">
            <div class="listview__content">
                <div class="listview__heading">Sunday, September 4, 20:59:04 (1 Min 02 Seconds)</div>

                <div class="listview__attrs">
                    <span><img class="widget-visitors__country" src="demo/img/flags/South_Korea.png" alt=""> South Korea</span>
                    <span>Chrome</span>
                    <span>Android</span>
                </div>
            </div>
        </div>

        <div class="listview__item">
            <div class="listview__content">
                <div class="listview__heading">Sunday, September 4, 20:58:12 (3 Min 44 Seconds)</div>

                <div class="listview__attrs">
                    <span><img class="widget-visitors__country" src="demo/img/flags/Japan.png" alt=""> Japan</span>
                    <span>Chrome</span>
                    <span>Windows</span>
                </div>
            </div>
        </div>

        <div class="p-3"></div>
    </div>
</div>