<div class="card">
    <div class="card-body">
        <h4 class="card-title">Autosize Textarea</h4>
        <h6 class="card-subtitle">Adjust the height of textarea based on the content size.</h6>

        <h5 class="card-body__title">Basic example</h5>
        <p>Start pressing the enter key to see the auto-height in action.</p>

        <div class="form-group">
            <textarea class="form-control textarea-autosize" placeholder="Star typing..."></textarea>
        </div>

        <br>

        <h5 class="card-body__title">With default value</h5>
        <p>Start pressing the enter key to see the auto-height in action.</p>

        <div class="form-group mb-0">
            <textarea class="form-control textarea-autosize" placeholder="Star typing...">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean lacinia bibendum nulla sed consectetur. Nullam id dolor id nibh ultricies vehicula ut id elit. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur blandit tempus porttitor. Donec sed odio dui.</textarea>
        </div>
    </div>
</div>