<div class="card">
    <div class="card-body">
        <h4 class="card-title">Custom Checkboxes</h4>
        <h6 class="card-subtitle">Custom rounded checkboxes with alphabet characters to use with contacts and related lists</h6>

        <div class="demo-inline-wrapper mb-0 mt-2">
            <div class="checkbox-char">
                <input type="checkbox" id="char-1">
                <label for="char-1">B</label>
            </div>
        </div>

        <div class="demo-inline-wrapper mb-0 mt-2">
            <div class="checkbox-char">
                <input type="checkbox" id="char-2">
                <label for="char-2">T</label>
            </div>
        </div>

        <div class="demo-inline-wrapper mb-0 mt-2">
            <div class="checkbox-char">
                <input type="checkbox" id="char-3">
                <label for="char-3">S</label>
            </div>
        </div>

        <div class="demo-inline-wrapper mb-0 mt-2">
            <div class="checkbox-char">
                <input type="checkbox" id="char-4">
                <label for="char-4">C</label>
            </div>
        </div>

        <div class="demo-inline-wrapper mb-0 mt-2">
            <div class="checkbox-char">
                <input type="checkbox" id="char-5">
                <label for="char-5">V</label>
            </div>
        </div>

    </div>
</div>