<div class="card">
    <div class="card-body">
        <h4 class="card-title">Date Time Picker</h4>
        <h6 class="card-subtitle">Flatpickr is a lightweight and powerful datetime picker.</h6>

        <div class="row">
            <div class="col-sm-4">
                <label>Date and time picker</label>

                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="zwicon-calendar-never"></i></span>
                    </div>
                    <input type="text" class="form-control datetime-picker" placeholder="Pick a date & time">
                </div>
            </div>

            <div class="col-sm-4">
                <label>Date picker</label>

                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="zwicon-calendar-never"></i></span>
                    </div>
                    <input type="text" class="form-control date-picker" placeholder="Pick a date & time">
                </div>
            </div>
        </div>
    </div>
</div>