<div class="card">
    <div class="card-body">
        <h4 class="card-title">Icon Toggles (Checkbox)</h4>
        <h6 class="card-subtitle">Icon toggles are customized checkboxes to use with icon toggles. Icon toggles are much useful when you have icon toggle elements such as favourites, thumbs ups, thumbs downs etc.</h6>

        <h5 class="card-body__title">Default stat</h5>
        <p>Click on the icons below to toggle the stat.</p>

        <div class="icon-toggle">
            <input type="checkbox">
            <i class="zwicon-flag"></i>
        </div>

        <div class="icon-toggle">
            <input type="checkbox">
            <i class="zwicon-heart"></i>
        </div>

        <div class="icon-toggle">
            <input type="checkbox">
            <i class="zwicon-thumbs-up"></i>
        </div>

        <div class="icon-toggle">
            <input type="checkbox">
            <i class="zwicon-thumbs-down"></i>
        </div>

        <div class="icon-toggle">
            <input type="checkbox">
            <i class="zwicon-checkmark-circle"></i>
        </div>

        <br>
        <br>
        <br>

        <h5 class="card-body__title">Active (checked) stat</h5>
        <p>Click on the icons below to toggle the stat.</p>

        <div class="icon-toggle">
            <input type="checkbox" checked>
            <i class="zwicon-flag"></i>
        </div>

        <div class="icon-toggle">
            <input type="checkbox" checked>
            <i class="zwicon-heart"></i>
        </div>

        <div class="icon-toggle">
            <input type="checkbox" checked>
            <i class="zwicon-thumbs-up"></i>
        </div>

        <div class="icon-toggle">
            <input type="checkbox" checked>
            <i class="zwicon-thumbs-down"></i>
        </div>

        <div class="icon-toggle">
            <input type="checkbox" checked>
            <i class="zwicon-checkmark-circle"></i>
        </div>

        <br>
    </div>
</div>