<div class="card">
    <div class="card-body">
        <h4 class="card-title">Input group</h4>
        <h6 class="card-subtitle">Easily extend form controls by adding text, buttons, or button groups on either side of textual <code>&#x3C;input&#x3E;</code>s.</h6>

        <h5 class="card-body__title">Basic example</h5>
        <p>Place one add-on or button on either side of an input. You may also place one on both sides of an input. Remember to place <code>&#x3C;label&#x3E;</code>s outside the input group.</p>

        <br>

        <div class="row">
            <div class="col-sm-6">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">@</span>
                    </div>
                    <input type="text" class="form-control" placeholder="Username">
                </div>

                <br>

                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Recipient's username">
                    <div class="input-group-append">
                        <span class="input-group-text">@example.com</span>
                    </div>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">https://example.com/users/</span>
                    </div>
                    <input type="text" class="form-control" placeholder="Name">
                </div>

                <br>

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">$</span>
                    </div>
                    <input type="text" class="form-control" placeholder="Price">
                    <div class="input-group-append">
                        <span class="input-group-text">.00</span>
                    </div>
                </div>
            </div>
        </div>

        <br>
        <br>

        <h5 class="card-body__title">Sizing</h5>
        <p>Add the relative form sizing classes to the <code>.input-group</code> itself and contents within will automatically resize. No need for repeating the form control size classes on each element.</p>

        <br>

        <div class="input-group input-group-sm mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">Small</span>
            </div>
            <input type="text" class="form-control">
        </div>

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">Default</span>
            </div>
            <input type="text" class="form-control">
        </div>

        <div class="input-group input-group-lg">
            <div class="input-group-prepend">
                <span class="input-group-text">Large</span>
            </div>
            <input type="text" class="form-control">
        </div>
    </div>
</div>