<div class="card">
    <div class="card-body">
        <h4 class="card-title">Input Masking</h4>
        <h6 class="card-subtitle">A plugin to make masks on form fields for better instant validations.</h6>

        <div class="row">
            <div class="col-sm-3">
                <div class="form-group">
                    <label>Date</label>
                    <input type="text" class="form-control input-mask" data-mask="00/00/0000" placeholder="eg: 23/05/2014">
                </div>
            </div>

            <div class="col-sm-3">
                <div class="form-group">
                    <label>Time</label>
                    <input type="text" class="form-control input-mask" data-mask="00:00:00" placeholder="eg: 23:06:55">
                </div>
            </div>

            <div class="col-sm-3">
                <div class="form-group">
                    <label>Date Time</label>
                    <input type="text" class="form-control input-mask" data-mask="00/00/0000 00:00:00" placeholder="eg: 00/00/0000 00:00:00">
                </div>
            </div>

            <div class="col-sm-3">
                <div class="form-group">
                    <label>CEP</label>
                    <input type="text" class="form-control input-mask" data-mask="00000-000" placeholder="eg: 00000-000">
                </div>
            </div>

            <div class="col-sm-3">
                <div class="form-group">
                    <label>Phone Number</label>
                    <input type="text" class="form-control input-mask" data-mask="000-00-0000000" placeholder="eg: 000-00-0000000">
                </div>
            </div>

            <div class="col-sm-3">
                <div class="form-group">
                    <label>Phone with Odd</label>
                    <input type="text" class="form-control input-mask" data-mask="(00) 0000-0000" placeholder="eg: (00) 0000-0000">
                </div>
            </div>

            <div class="col-sm-3">
                <div class="form-group">
                    <label>US Phone Number</label>
                    <input type="text" class="form-control input-mask" data-mask="(000) 000-0000" placeholder="eg: (000) 000-0000">
                </div>
            </div>

            <div class="col-sm-3">
                <div class="form-group">
                    <label>CPF</label>
                    <input type="text" class="form-control input-mask" data-mask="000.000.000-00" placeholder="eg: 000.000.000-00">
                </div>
            </div>

            <div class="col-sm-3">
                <div class="form-group">
                    <label>Money</label>
                    <input type="text" class="form-control input-mask" data-mask="000.000.000.000.000,00" placeholder="eg: 000.000.000.000.000,00">
                </div>
            </div>

            <div class="col-sm-3 m-b-20">
                <div class="form-group">
                    <label>IP Address</label>
                    <input type="text" class="form-control input-mask" data-mask="000.000.000.000" placeholder="eg: 000.000.000.000">
                </div>
            </div>

            <div class="col-sm-3">
                <div class="form-group">
                    <label>Percentage</label>
                    <input type="text" class="form-control input-mask" data-mask="00000,00%" placeholder="eg: 00000,00%">
                </div>
            </div>

            <div class="col-sm-3">
                <div class="form-group">
                    <label>Credit Card</label>
                    <input type="text" class="form-control input-mask" data-mask="0000 0000 0000 0000" placeholder="eg: 0000 0000 0000 0000">
                </div>
            </div>
        </div>
    </div>
</div>