<div class="card">
    <div class="card-body">
        <h4 class="card-title">Ratings</h4>
        <h6 class="card-subtitle">RateYo! is a tiny and flexible jQuery star rating plugin, it uses SVG to render rating, so no images required.</h6>

        <h5 class="card-body__title">Basic example</h5>
        <p>Basic RateYo examples with start width and rating values.</p>

        <div class="rating-demo">
            <div class="rating" data-rateyo-star-width="20px" data-rating="0"></div>
            <div class="rating" data-rateyo-star-width="20px" data-rating="1"></div>
            <div class="rating" data-rateyo-star-width="20px" data-rating="2"></div>
            <div class="rating" data-rateyo-star-width="20px" data-rating="3"></div>
            <div class="rating" data-rateyo-star-width="20px" data-rating="4"></div>
            <div class="rating" data-rateyo-star-width="20px" data-rating="5"></div>
        </div>

        <br>
        <br>

        <h5 class="card-body__title">Sizing</h5>
        <p>Different sizes can be set using data attribute <code>data-rateyo-star-width</code>.</p>

        <div class="rating-demo">
            <div class="rating" data-rateyo-star-width="10px" data-rating="0"></div>
            <div class="rating" data-rateyo-star-width="20px" data-rating="1"></div>
            <div class="rating" data-rateyo-star-width="30px" data-rating="2"></div>
            <div class="rating" data-rateyo-star-width="40px" data-rating="3"></div>
        </div>

        <br>
        <br>

        <h5 class="card-body__title">Rated fill color</h5>
        <p>The color for the rated part of a star. You can set this option using <code>data-rateyo-rated-fill</code> attribute.</p>

        <div class="rating-demo">
            <div class="rating" data-rateyo-star-width="20px" data-rating="2" data-rateyo-rated-fill="#dc3545"></div>
            <div class="rating" data-rateyo-star-width="20px" data-rating="3" data-rateyo-rated-fill="#007bff"></div>
            <div class="rating" data-rateyo-star-width="20px" data-rating="4" data-rateyo-rated-fill="#20c997"></div>
            <div class="rating" data-rateyo-star-width="20px" data-rating="5" data-rateyo-rated-fill="#fd7e14"></div>
        </div>
    </div>
</div>