<div class="card">
    <div class="card-body">
        <h4 class="card-title">Text Counter</h4>
        <h6 class="card-subtitle">jQuery plugin to count words or characters and enforce min/max requirements.</h6>

        <div class="row">
            <div class="col-md-4">
                <h5 class="card-body__title">Basic example</h5>
                <p>Basic text counter with least options enabled</p>

                <br>

                <div class="form-group">
                    <textarea class="form-control textarea-autosize text-counter" placeholder="Start typing..."></textarea>
                </div>
            </div>
            <div class="col-md-4">
                <h5 class="card-body__title">Maximum limit counter</h5>
                <p>Fires when a counter reaches the maximum word/character count.</p>

                <br>

                <div class="form-group">
                    <textarea class="form-control textarea-autosize text-counter" data-max-length="100" placeholder="Start typing... (Max set to 100)"></textarea>
                </div>
            </div>
            <div class="col-md-4">
                <h5 class="card-body__title">Minimum counter</h5>
                <p>Fires when a counter reaches the minimum word/character count</p>

                <br>

                <div class="form-group">
                    <textarea class="form-control textarea-autosize text-counter" data-min-length="10" placeholder="Start typing... (Min set to 10)"></textarea>
                </div>
            </div>
        </div>
    </div>
</div>