<div class="card">
    <div class="card-body">
        <h4 class="card-title">Toggle Switch</h4>
        <h6 class="card-subtitle">Material design look alike Toggle Switches based on Radio Boxes</h6>

        <div class="row">
            <div class="col-sm-4 col-md-3">
                <h5 class="card-body__title">Basic Example</h5>

                <div class="form-group">
                    <div class="toggle-switch">
                        <input type="checkbox" class="toggle-switch__checkbox">
                        <i class="toggle-switch__helper"></i>
                    </div>
                </div>
            </div>

            <div class="col-sm-4 col-md-3">
                <h5 class="card-body__title">Active State</h5>

                <div class="form-group">
                    <div class="toggle-switch">
                        <input type="checkbox" class="toggle-switch__checkbox" checked>
                        <i class="toggle-switch__helper"></i>
                    </div>
                </div>
            </div>

            <div class="col-sm-4 col-md-3">
                <h5 class="card-body__title">Disabled</h5>

                <div class="form-group">
                    <div class="toggle-switch">
                        <input type="checkbox" class="toggle-switch__checkbox" disabled>
                        <i class="toggle-switch__helper"></i>
                    </div>
                </div>
            </div>
        </div>

        <h5 class="card-body__title">Color variants</h5>
        <p>Optional color variants can be added using modifier classes</p>

        <br>

        <div class="demo-inline-wrapper">
            <div class="form-group">
                <div class="toggle-switch toggle-switch--amber">
                    <input type="checkbox" class="toggle-switch__checkbox">
                    <i class="toggle-switch__helper"></i>
                </div>
            </div>
        </div>
        <div class="demo-inline-wrapper">
            <div class="form-group">
                <div class="toggle-switch toggle-switch--blue">
                    <input type="checkbox" class="toggle-switch__checkbox">
                    <i class="toggle-switch__helper"></i>
                </div>
            </div>
        </div>
        <div class="demo-inline-wrapper">
            <div class="form-group">
                <div class="toggle-switch toggle-switch--green">
                    <input type="checkbox" class="toggle-switch__checkbox">
                    <i class="toggle-switch__helper"></i>
                </div>
            </div>
        </div>
        <div class="demo-inline-wrapper">
            <div class="form-group">
                <div class="toggle-switch toggle-switch--cyan">
                    <input type="checkbox" class="toggle-switch__checkbox">
                    <i class="toggle-switch__helper"></i>
                </div>
            </div>
        </div>
        <div class="demo-inline-wrapper">
            <div class="form-group">
                <div class="toggle-switch toggle-switch--purple">
                    <input type="checkbox" class="toggle-switch__checkbox">
                    <i class="toggle-switch__helper"></i>
                </div>
            </div>
        </div>
        <div class="demo-inline-wrapper">
            <div class="form-group">
                <div class="toggle-switch toggle-switch--teal">
                    <input type="checkbox" class="toggle-switch__checkbox">
                    <i class="toggle-switch__helper"></i>
                </div>
            </div>
        </div>
    </div>
</div>